{% extends 'fmsapp/layout.html' %}
{% load static %}
{% block title %}
All Staff
{% endblock title %}

{% block contents %}
<h1>Individual LiveStock Associated Information</h1>
<div class="date">
  <a href="{% url 'fms:create_livestock' %}">Add LiveStock Daily Data</a>
</div>
<div class="recent-orders">
  <h2>Total LiveStock List</h2>
  <table>
    <thead>
      <tr>
        <th>LiveStock Name</th>
        <th>Created date</th>
        <th>Created Time</th>
        <th>Total Quantity</th>
        <th>Sell</th>
        <th>Expense</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <br>
    <tbody>
      {%if livestocklist %}
      {% for lsl in livestocklist  %}
      <tr>
        <td><b>{{lsl.department | capfirst}}</b></td>
        <td>{{lsl.date| capfirst}}</td>
        <td>{{lsl.time| capfirst}}</td>
        <td class="primary">{{lsl.quantity}}</td>
        <td class="primary">{{lsl.sell}}</td>
        <td style="color: #d9a985;" >{{lsl.expense}}</td>
        <td class="primary"><a href="{% url 'fms:live_edit' pk=lsl.pk %}" >UpDate</a></td>
        <td><a style="color: #c76868;" href="{% url 'fms:live_delete' pk=lsl.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td>No Data Found</td>
        <td>No Data Found</td>
        <td>No Data Found</td>
        <td>No Data Found</td>
        <td>No Data Found</td>
        <td>No Data Found</td>
        <td>No Data Found</td>
        <td>No Data Found</td>
      </tr>
      {%endif%}
    </tbody>
  </table>

</div>

{% endblock contents  %}